ul.social-network {
    list-style: none;
    padding: 0;
}

ul.social-network li {
    display: inline;
    margin: 0;
    padding: 5px;
}

.fa {
    font-size: 25pt;
    color: whitesmoke;
    padding: 10px;
}

.fa-github-square:hover {
    color: #BB5F85;
}

.fa-linkedin-square:hover {
    color: #BB5F85;
}

.bg-green {
  background-color: #465443;
}

.bg-neutral {
  background-color: #F1DEB2;
}
