<footer class="page-footer font-small bg-green pt-4">
    <!--Container-->
    <div class="container">

        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <h4 class="text-white">Visite nossas redes sociais</h4>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">

                <ul class="social-network">
                    <!--GitHub-->
                    <li>
                        <a href="https://github.com/jullyanedemetrio" target="_blank" class="icoGitHub">
                            <i class="fa fa-github-square" aria-hidden="true"></i>
                        </a>
                    </li>
                    <!--/GitHub-->
                    <!--LinkedIn-->
                    <li>
                        <a href="https://www.linkedin.com/in/jullyanedemetrio/" target="_blank" class="icoLinkedin">
                            <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                        </a>
                    </li>
                    <!--/LinkedIn-->
                </ul>
            </div>
        </div>

    </div>
    <!--/Container-->

    <div class="foot-copyright bg-neutral text-center py-3 ">
        <span class="text-dark"> © 2021 Copyright: </span>
        <a class="text-dark" target="_blank" href="https://github.com/jullyanedemetrio">Jullyane Demetrio</a>
    </div>

</footer>
