/* You can add global styles to this file, and also import other style files */

html
{
  scroll-behavior: smooth;
}

.bg-green {
  background-color: #465443;
}

.fs-44{
  font-size: 44pt;
}

.fs-14{
  font-size: 14pt;
}

.text-pink {
  color:#BB5F85
}

.mate-sc {
  font-family: 'Mate SC', serif;
}

.open-sans {
  font-family: 'Open Sans', sans-serif;
}
