.bg-green {
  background-color: #465443;
}

.fs-54{
  font-size: 44pt;
}

.fs-18{
  font-size: 14pt;
}

.text-pink {
  color:#BB5F85
}

.mate-sc {
  font-family: 'Mate SC', serif;
}

.open-sans {
  font-family: 'Open Sans', sans-serif;
}
